beautifulsoup4
argostranslate
https://www.grammalecte.net/zip/Grammalecte-fr-v2.3.0.zip
git+https://github.com/Rapptz/discord.py.git
discord-ext-voice-recv
Pillow
openwakeword
python-dotenv
pyttsx3
PyYAML
Requests
SpeechRecognition
openai-whisper
yt_dlp
PyNaCl
numpy
resampy
Flask
Flask_SocketIO
watchdog
GitPython
validators
pytest
pytest-asyncio
pytest-mock
tzlocal
parsedatetime
tzdata
