{% extends "base.html" %}
{% block title %}Recollections{% endblock %}
{% block content %}
<div class="bg-gradient-to-br from-[#55030E] to-[#A76E3A]">
    <section id="main" class="max-w-screen-xl mx-auto flex flex-col min-h-screen justify-center py-24 p-4">
        <div class="mb-24">
            <h1 class="text-5xl md:text-8xl mb-2"><span class="text-[#DB9E3D]">Bard's</span> Recollections</h1>
            <h2 class="text-xl md:text-3xl">Ask for a journey into the past</h2>
        </div>

        <form id="form-recollections" method="get">
            <div class="flex flex-wrap items-center md:space-x-8">
                <div class="w-full md:w-2/5 flex flex-col mb-8">
                    <p class="text-2xl mb-2">Choose your guild</p>
                    <select name="guild_id" class="bg-transparent border-b rounded outline-none py-2 pe-4">
                        {% for guild in data['guilds'] %}
                        <option value="{{ guild['id'] }}" class="bg-[#252223]">{{ guild['name'] }}</option>
                        {% endfor %}
                    </select>
                    <!-- <p class="text-end">Don't see your guild?</p> -->
                </div>

                <div class="w-full md:w-2/5 flex flex-col mb-8">
                    <p class="text-2xl mb-2">Choose the year to recall</p>
                    <select name="year" class="bg-transparent border-b rounded outline-none py-2 pe-4">
                        {% for year in data['years'] %}
                        <option value="{{ year[0] }}" class="bg-[#252223]">{{ year[0] }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div>
                <input id="btn-submit"
                    class="rounded-3xl border bg-transparent hover:bg-white hover:text-black py-2 px-4" type="submit"
                    value="Search">
            </div>
        </form>
    </section>

    <script src="{{ url_for('static', filename='analytics-home.js') }}"></script>
</div>
{% endblock %}