{% extends "base.html" %}
{% block title %}Analytics{% endblock %}
{% block content %}
<div>
    <section class="flex flex-col justify-center items-center min-h-screen py-24">
        <div class="w-full flex flex-wrap md:no-wrap justify-center items-center md:space-x-6">
            {% if data['guild']['icon'] is not none %}
            <img class="w-1/2 md:w-1/5 rounded-full p-4" src="{{ data['guild']['icon'] }}">
            {% else %}
            <img class="w-1/2 md:w-1/5 rounded-full p-4" src="{{ url_for('static', filename='placeholder_icon.png') }}">
            {% endif %}
            <div class="md:text-start text-center">
                <h2 class="text-xl md:text-2xl mb-1">Let's check out what was it like in</h2>
                <h1 class="text-5xl md:text-7xl mb-1">{{ data['guild']['name'] }}</h1>
            </div>
        </div>
    </section>
    <section class="bg-gradient-to-b from-[#DB9E3D] to-[#A76E3A] flex justify-center items-center">
        <div class="md:w-3/4 p-4">
            <div class="my-24 text-center">
                <h1 class="text-4xl md:text-6xl font-bold mb-2">Looks like these will never get boring</h1>
                <h2 class="text-lg md:text-2xl">These are the bangers for the year certified by me</h2>
            </div>
            {% for track in data['top_tracks'] %}
            {% if loop.index % 2 == 1 %}
            <div class="flex justify-start items-start">
            {% endif %}
            {% if loop.index % 2 == 0 %}
            <div class="flex justify-end items-start">
            {% endif %}
                    <div class="md:w-1/12 my-12 me-12 text-center">
                        <h1 class="text-7xl md:text-9xl font-bold">{{ loop.index }}.</h1>
                    </div>
                    <div class="md:w-2/5 flex flex-col justify-center items-center my-12">
                        <img class="rounded-xl mb-4 w-full"
                            src="{{ track['info']['thumbnails'][-1]['url'] }}">
                        <div class="w-full">
                            <h2 class="text-3xl line-clamp-3 font-bold">{{ track['title'] }}</h2>
                            <h3>Requested {{ track['count'] }} times.</h3>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
    </section>

    <section class="bg-[#252223] flex justify-center items-center">
        <div class="md:w-3/4 p-4">
            <div class="my-24 text-center">
                <h1 class="text-4xl md:text-6xl font-bold mb-2">Definitely not your taste</h1>
                <h2 class="text-xl md:text-2xl">Did you request these on accident?</h2>
            </div>
            {% for track in data['bot_tracks'] %}
            {% if loop.index % 2 == 1 %}
            <div class="flex justify-start items-start">
            {% endif %}
            {% if loop.index % 2 == 0 %}
            <div class="flex justify-end items-start">
            {% endif %}
                    <div class="md:w-1/12 my-12 me-12 text-center">
                        <h1 class="text-7xl md:text-9xl font-bold">{{ loop.index }}.</h1>
                    </div>
                    <div class="md:w-2/5 flex flex-col justify-center items-center my-12">
                        {% if track['info'] is not none %}
                        <img class="rounded-xl mb-4 w-full"
                            src="{{ track['info']['thumbnails'][-1]['url'] }}">
                        {% else %}
                        <img class="rounded-xl mb-4 w-full"
                            src="{{ url_for('static', filename='placeholder.png') }}">
                        {% endif %}
                        <div class="w-full">
                            <h2 class="text-3xl line-clamp-3 font-bold">{{ track['title'] }}</h2>
                            <h3>{{ track['count'] }} request{{ 's' if track['count'] > 1 else '' }}</h3>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
    </section>

    {% for usr in data['usr_dtls'] %}
    {% if data['usr_tracks'][usr]|length > 0 %}
    <section class="{{ 'bg-[#7E3924]' if loop.index % 2 == 0 else 'bg-[#A76E3A]' }} flex justify-center items-center p-4">
        <div class="max-w-screen-xl w-full mx-auto">
            <div class="w-full flex flex-col justify-center items-center my-24">
                <img class="rounded-full mb-2 w-1/2 md:w-1/6" src="{{ data['usr_dtls'][usr]['avatar'] }}">
                <h1 class="text-3xl md:text-5xl font-bold mb-2">{{ data['usr_dtls'][usr]['name'] }}</h1>
                <h2 class="text-xl md:text-2xl">You made {{ data['usr_dtls'][usr]['requests'] }} request{{ 's' if data['usr_dtls'][usr]['requests'] > 1 else '' }} this year</h2>
            </div>

            <div class="w-full flex flex-wrap md:justify-evenly md:items-start md:no-wrap md:space-x-1">
                {% for track in data['usr_tracks'][usr] %}
                <div class="w-full md:w-1/4 flex flex-col justify-center items-center my-12">
                    {% if track['info'] is not none %}
                    <img class="rounded-xl mb-4 w-full"
                        src="{{ track['info']['thumbnails'][-1]['url'] }}">
                    {% else %}
                    <img class="rounded-xl mb-4 w-full"
                        src="{{ url_for('static', filename='placeholder.png') }}">
                    {% endif %}
                    <div class="w-full">
                        <h2 class="text-xl line-clamp-2 font-bold">{{ track['title'] }}</h2>
                        <h3>{{ track['count'] }} request{{ 's' if track['count'] > 1 else '' }}</h3>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    {% endif %}
    {% endfor %}

    <section class="flex flex-col justify-center items-center bg-gradient-to-br from-[#55030E] to-[#A76E3A] py-24">
        <div class="my-6 text-center">
            <h1 class="text-4xl md:text-6xl font-bold mb-2">That's it!</h1>
            <h2 class="text-xl md:text-2xl">Ready for another round?</h2>
        </div>
        <button id="btn-redirect" class="rounded-3xl border bg-transparent hover:bg-white hover:text-black py-2 px-4">Let's go!</button>
    </section>

    <script src="{{ url_for('static', filename='analytics.js') }}"></script>
</div>
{% endblock %}