{% extends "base.html" %}
{% block title %}Analytics{% endblock %}
{% block content %}
<div>
    <section class="flex flex-col justify-center items-center min-h-screen">
        <div class="mb-8 text-center">
            <h2 class="text-xl md:text-4xl mb-2">Welcome to</h2>
            <h1 class="text-4xl md:text-8xl"><span class="text-[#DB9E3D]">Bard's</span> Memories</h1>
        </div>

        <form class="flex" method="get">
            <select name="year" class="bg-transparent border rounded outline-none py-2 px-4 mx-4">
                {% for year in data['years'] %}
                <option value="{{ year[0] }}" class="bg-[#252223]">{{ year[0] }}</option>
                {% endfor %}
            </select>

            <select name="guild_id" class="bg-transparent border rounded outline-none py-2 px-4 mx-4">
                {% for guild in data['guilds'] %}
                <option value="{{ guild['id'] }}" class="bg-[#252223]">{{ guild['name'] }}</option>
                {% endfor %}
            </select>

            <input class="rounded-3xl border bg-transparent hover:bg-white mx-4 hover:text-black px-4" type="submit"
                value="Search">
        </form>
    </section>
</div>
{% endblock %}