{% extends "base.html" %}
{% block title %}Analytics{% endblock %}
{% block content %}
<div>
    <section class="flex flex-col justify-center items-center min-h-screen">
        <h1 class="text-8xl mb-4">{{ data['year'] }}</h1>
        <h2 class="text-3xl text-center">Let's check out this year's bangers</h2>
    </section>
    <section class="bg-[#DB9E3D] flex justify-center items-center">
        <div class="md:w-3/4 p-4">
            <div class="my-24 text-center">
                <h1 class="text-4xl md:text-6xl font-bold mb-2">Looks like these will never get boring</h1>
                <h2 class="text-lg md:text-2xl">These are the bangers for the year certified by me</h2>
            </div>
            {% for track in data['top_tracks'] %}
            {% if loop.index % 2 == 1 %}
            <div class="flex justify-start items-start">
            {% endif %}
            {% if loop.index % 2 == 0 %}
            <div class="flex justify-end items-start">
            {% endif %}
                    <div class="md:w-1/12 my-12 me-12 text-center">
                        <h1 class="text-7xl md:text-9xl font-bold">{{ loop.index }}.</h1>
                    </div>
                    <div class="md:w-2/5 flex flex-col justify-center items-center my-12">
                        <img class="rounded-xl mb-4 w-full"
                            src="{{ track['info']['entries'][0]['thumbnails'][-1]['url'] }}">
                        <div class="w-full">
                            <h2 class="text-3xl line-clamp-3 font-bold">{{ track['title'] }}</h2>
                            <h3>Requested {{ track['count'] }} times.</h3>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
    </section>
    <section class="bg-[#252223] flex justify-center items-center">
        <div class="md:w-3/4 p-4">
            <div class="my-24 text-center">
                <h1 class="text-4xl md:text-6xl font-bold mb-2">Definitely not your taste</h1>
                <h2 class="text-xl md:text-2xl">Did you request these on accident?</h2>
            </div>
            {% for track in data['bot_tracks'] %}
            {% if loop.index % 2 == 1 %}
            <div class="flex justify-start items-start">
            {% endif %}
            {% if loop.index % 2 == 0 %}
            <div class="flex justify-end items-start">
            {% endif %}
                    <div class="md:w-1/12 my-12 me-12 text-center">
                        <h1 class="text-7xl md:text-9xl font-bold">{{ loop.index }}.</h1>
                    </div>
                    <div class="md:w-2/5 flex flex-col justify-center items-center my-12">
                        <img class="rounded-xl mb-4 w-full"
                            src="{{ track['info']['entries'][0]['thumbnails'][-1]['url'] }}">
                        <div class="w-full">
                            <h2 class="text-3xl line-clamp-3 font-bold">{{ track['title'] }}</h2>
                            <h3>Requested {{ track['count'] }} times.</h3>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
    </section>
</div>
{% endblock %}