<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Bard</title>

    <link
      rel="stylesheet"
      href="{{url_for('static',filename='dist/css/output.css')}}"
    />
  </head>
  <body class="bg-gray-900 text-white">
    <div class="max-w-screen-xl p-4 mx-auto mb-8">
      <section class="mb-8">
        <div class="flex flex-col flex-wrap items-center mb-4">
          <h1 class="text-5xl font-semibold mb-1">Bard</h1>
          <h2>git #{{ head_commit.id[:7] }}</h2>
        </div>
      </section>

      <section class="mb-8">
        <h1 class="text-3xl font-bold mb-4">Changelog</h1>
        <h2 class="text-lg">{{ head_commit.message }}</h2>
      </section>

      <section class="mb-8">
        <h1 class="text-3xl font-bold mb-4">Entertainment</h1>
        <div class="grid grid-cols-12 gap-8">
          <div class="col-span-2">
            <h2 class="text-xl font-bold mb-4">Voice call</h2>
            <ul id="callMemberList">
              {% if client_dtls.voice_channel != None %} {% for member in
              client_dtls.voice_channel.members[:3] %}
              <li class="flex items-center mb-2">
                <img class="rounded-full w-12" src="{{ member.avatar.url }}" />
                <h3 class="ms-4">{{ member.display_name }}</h3>
              </li>
              {% endfor %} {% endif %} {% if
              client_dtls.voice_channel.members|length > 3 %}
              <li class="italic">
                and {{ client_dtls.voice_channel.members|length - 3 }} more
              </li>
              {% endif %} {% if client_dtls.voice_channel == None %}
              <li>No one on call</li>
              {% endif %}
            </ul>
          </div>

          <div class="flex flex-col col-span-6 justify-center items-center">
            <div class="relative mb-4">
              <img
                id="nowPlayingImg"
                class="object-fill w-full rounded-xl shadow-xl"
                src="{{ client_dtls.current_track.thumbnails[-1].url if client_dtls.current_track != None else url_for('static', filename='placeholder.png') }}"
              />
            </div>

            <div class="flex flex-wrap w-full justify-between items-center">
              <div class="flex grow w-1/4 items-center mb-4">
                <div class="w-12 fill-white hover:opacity-80">
                  {% if client_dtls.playback_paused %}
                  <?xml version="1.0" ?><!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'>
                  <svg
                    enable-background="new 0 0 139 139"
                    id="Play"
                    version="1.1"
                    viewBox="0 0 139 139"
                    xml:space="preserve"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                  >
                    <path
                      d="M117.037,61.441L36.333,14.846c-2.467-1.424-5.502-1.424-7.972,0c-2.463,1.423-3.982,4.056-3.982,6.903v93.188  c0,2.848,1.522,5.479,3.982,6.9c1.236,0.713,2.61,1.067,3.986,1.067c1.374,0,2.751-0.354,3.983-1.067l80.704-46.594  c2.466-1.422,3.984-4.054,3.984-6.9C121.023,65.497,119.502,62.866,117.037,61.441z"
                    />
                  </svg>
                  {% else %}
                  <?xml version="1.0" ?><!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'>
                  <svg
                    id="Layer_1"
                    style="enable-background: new 0 0 512 512"
                    version="1.1"
                    viewBox="0 0 512 512"
                    xml:space="preserve"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                  >
                    <g>
                      <path
                        d="M224,435.8V76.1c0-6.7-5.4-12.1-12.2-12.1h-71.6c-6.8,0-12.2,5.4-12.2,12.1v359.7c0,6.7,5.4,12.2,12.2,12.2h71.6   C218.6,448,224,442.6,224,435.8z"
                      />
                      <path
                        d="M371.8,64h-71.6c-6.7,0-12.2,5.4-12.2,12.1v359.7c0,6.7,5.4,12.2,12.2,12.2h71.6c6.7,0,12.2-5.4,12.2-12.2V76.1   C384,69.4,378.6,64,371.8,64z"
                      />
                    </g>
                  </svg>
                  {% endif %}
                </div>
                <div class="w-8 fill-white hover:opacity-80 ms-4">
                  <?xml version="1.0" ?><svg
                    data-name="Layer 1"
                    id="Layer_1"
                    viewBox="0 0 512 512"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M129.55,57.89A18.8,18.8,0,0,0,97.46,71.18V440.82a18.8,18.8,0,0,0,32.09,13.29L314.37,269.29a18.78,18.78,0,0,0,0-26.58Z"
                    />
                    <path
                      d="M395.74,52.39A18.79,18.79,0,0,0,377,71.18V440.82a18.8,18.8,0,0,0,37.59,0V71.18A18.79,18.79,0,0,0,395.74,52.39Z"
                    />
                  </svg>
                </div>
              </div>
              <div class="grow w-3/4 text-end mb-4">
                <a
                  id="nowPlayingTtl"
                  href="{{client_dtls.current_track.webpage_url}}"
                  class="text-md font-bold text-center overflow-hidden hover:underline"
                >
                  {{client_dtls.current_track.title if client_dtls.current_track
                  != None else 'There is nothing playing right now'}}
                </a>
                <p id="requestedBy" class="font-light">
                  {{ 'Playing on' if client_dtls.current_track != None else ''
                  }}
                  <span id="nowPlayingReq"
                    >{{client_dtls.current_track.requester.display_name if
                    client_dtls.current_track else ''}}</span
                  >{{ '\'s request' if client_dtls.current_track != None else ''
                  }}
                </p>
              </div>
            </div>
          </div>

          <div class="flex flex-col col-span-4 rounded-xl">
            <h2 class="text-xl mb-4 font-bold">Next up</h2>
            <ul id="nextUp">
              {% for track in client_dtls.queue[1:4] %}
              <li class="mb-2">
                <div class="h-24 flex items-center">
                  <img
                    class="h-24 rounded-xl"
                    src="{{track.thumbnails[-1].url}}"
                  />
                  <div class="px-4 text-start line-clamp-2">
                    <h3 class="text-md font-semibold">{{track.title}}</h3>
                  </div>
                </div>
              </li>
              {% endfor %} {% if client_dtls.queue|length > 4 %}
              <li class="mb-4">
                <p class="italic">
                  and {{ client_dtls.queue|length - 4 }} more.
                </p>
              </li>
              {% endif %} {% if client_dtls.queue|length <= 1 %}
              <p>Wow, looks like nothing else is queued.</p>
              {% endif %}
            </ul>
          </div>
        </div>
      </section>

      <section class="mb-8">
        <h1 class="text-3xl font-bold mb-4">Logs</h1>
        <div
          id="logContainer"
          class="h-96 overflow-y-auto border-2 font-mono border-gray-800 bg-black p-4 rounded"
        ></div>
      </section>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
  </body>
</html>
