beautifulsoup4
chromedriver_autoinstaller
git+https://github.com/Rapptz/discord.py.git
Pillow
pvporcupine
pvrhino
python-dotenv
pyttsx3
PyYAML
Requests
selenium
SpeechRecognition
yt_dlp
PyNaCl
numpy
resampy
Flask
Flask_SocketIO
watchdog

