beautifulsoup4
git+https://github.com/Rapptz/discord.py.git
matplotlib
Pillow
python-dotenv
requests
yt-dlp
PyNaCl
discord-ext-voice-recv
SpeechRecognition 
openai-whisper
pvporcupine
pvrhino
resampy
pyttsx3
pyyaml
selenium
chromedriver_autoinstaller